#hp-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
}

.welcome {
  h1 {
    text-align: center;
    color: $white;
    font-size: 9.5rem;
    margin: 2rem 0 0;
  }
  h2 {
    text-align: center;
    color: $white;
    font-size: 4rem;
    margin: 0 0 0.5em 0;
  }
}

.button a{
  top-margin: 6rem;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  left: 50%;
  margin: 8rem 0 0 -7.5%;
  letter-spacing: 3px;
  padding:         .7em 1.4em .7em 1.4em;
  border:          solid 2px $white;
  text-decoration: none;
  font-weight:     500;
  font-size:       24px;
  color:           $white;
  text-transform: uppercase;
}

.button a:hover{
  padding:         .7em 1.4em .7em 1.4em;
  border:          solid 2px $white;
  text-decoration: none;
  font-weight:     500;
  font-size:       24px;
  color:           $blue;
  background-color: $white;
  text-transform: uppercase;
  opacity: 0.9;
  filter: alpha(opacity=40);
}
