#spaces-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
}

.media {
  margin: 6.2rem 2rem 2rem 16rem;
}
.article-block {
  width: 17.8rem;
  height: 24.7rem;
  float: left;
  margin: 2em;
  img {
    z-index: -10;
  }
  .title-name a {
    color: $blue;
    text-transform: uppercase;
    position: relative;
    line-height: 1.55rem;
    font-size: 1.5rem;
    text-decoration: none;
  }
  .title-name a:hover {
    color: $brown;
  }
  .country-name {
    color: $white;
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    padding: 2em 0 0 0;
  }
  .fa-file-text-o {
    font-size: 1.5rem;
    color: $white;
    position: relative;
    left: 1.5rem;
  }
  .strip {
    background-color: $blue;
    opacity: 0.9;
    filter: alpha(opacity=60);
    padding: 0.75em 0;
    .country-name {
      padding: 0 0 0 2rem;
    }
  }
  .caption {
    opacity: 0.8;
    position: absolute;
    height: 20.65em;
    width: 17.8rem;
    bottom: 0px;
    left: 0px;
    padding: 1em;
    color: black;
    background: white;
  }
  .excerpt {
    font-style: italic;
  }
}

.article-block:hover .caption {
  opacity: 1;
}
